@import "tailwindcss";

:root {
    --gradient-text: linear-gradient(
            90deg,
            #7b2ff7 0%,
            #c83cff 25%,
            #f107a3 50%,
            #ff4d82 75%,
            #f10784 100%
    )
}

body {
    background-color: rgba(99, 50, 184, 0.08);
}

.gradient-text {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}